.user-list .no-padding {
	 padding: 0 !important;
}
 .user-list h1 {
	 font-size: 1.5em;
	 padding: 0.83em 0;
	 margin: 0;
	 line-height: normal;
}
 .user-list .searchBar {
	 background: #fff;
	 overflow: hidden;
	 padding: 1em;
}
 .user-list .searchBar .input-container input {
	 font-size: 20px;
	 border: none;
}
 .user-list .searchBar .input-container input:focus {
	 outline: 0 !important;
}
 .user-list .not-found {
	 font-size: 25px;
	 color: red;
}
 .user-list .loader-wrap {
	 width: 150px;
	 height: auto;
	 margin: 30px auto 0;
}
 .user-list .loader-wrap .mat-progress-spinner circle, .user-list .loader-wrap .mat-spinner circle {
	 stroke: #fff;
}
 